@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

img {
  @apply w-full h-full;
}

table#checkout tbody {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

table#checkout thead,
table#checkout tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
